[Desktop Entry]
Version=1.0
Exec=/PATH/TO/video-compression-scripts/video_helper_tools/transcriber/launch_scripts/start_whisper_server.sh
Name=Start Whisper Server
GenericName=Whisper Server
Comment=Start Whisper Server
Encoding=UTF-8
Terminal=true
Type=Application
Categories=Application
Icon=/PATH/TO/video-compression-scripts/docs/transcriber-icon.png
