[Desktop Entry]
Version=1.0
Exec=/home/USER/PATH/TO/CLONED/REPO/whisper-server/launch_scripts/start_whisper_server.sh
Name=Start Whisper Server
GenericName=Whisper Server
Comment=Start Whisper Server
Encoding=UTF-8
Terminal=true
Type=Application
Categories=Application
Icon=/home/USER/PATH/TO/CLONED/REPO/whisper-server/launch_scripts/icon.png
