# ExifTool config: an XMP namespace for the settings a video was compressed with.
# Tag: XMP-vht:CompressionSettings (JSON string). Other tools show it as "Compression Settings".
%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        vht => { SubDirectory => { TagTable => 'Image::ExifTool::UserDefined::vht' } },
    },
);
%Image::ExifTool::UserDefined::vht = (
    GROUPS    => { 0 => 'XMP', 1 => 'XMP-vht', 2 => 'Other' },
    NAMESPACE => { 'vht' => 'http://ns.video-helper-tools.app/1.0/' },
    WRITABLE  => 'string',
    CompressionSettings => { },
);
1;
